kube-aws
/artifacts/template.json
/bin
/e2e/assets
*~
/core/*/config/templates.go
/core/*/config/files.go
.idea/
.envrc
coverage.txt
profile.out
test-result.json
pkg/model/cache
builtin/a_builtin-packr.go

# gitbook docs
_book
.grunt
*.epub
*.mobi
*.pdf
node_modules
kube-aws
.DS_Store
