{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "kube-aws Kubernetes cluster {{.ClusterName}}",
  "Resources": {
    {{if .CloudWatchLogging.Enabled}}
      "CloudWatchLogGroup": {
      "Type" : "AWS::Logs::LogGroup",
      "Properties" : {
        "LogGroupName" : "{{.ClusterName}}",
        "RetentionInDays" : {{.CloudWatchLogging.RetentionInDays}}
      }
    },{{ end }}
    "{{.Network.Name}}": {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        {{if .CloudWatchLogging.Enabled -}}
        "Parameters": {
          "CloudWatchLogGroupARN": { "Fn::GetAtt": [ "CloudWatchLogGroup", "Arn" ] }
        },
        {{ end -}}
        "Tags" : [
          {
            "Key": "kubernetes.io/cluster/{{$.ClusterName}}",
            "Value": "true"
          }{{range $k, $v := $.ControlPlane.Tags}},
          {
            "Key":"{{$k}}",
            "Value":"{{$v}}"
          }{{end}}
        ],
        "TemplateURL" : "{{$.Network.TemplateURL}}"
      }
    },
    "{{.ControlPlane.Name}}": {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "Parameters": {
          "EtcdStackName": {"Fn::GetAtt" : [ "{{$.Etcd.Name}}" , "Outputs.StackName" ]},
          "NetworkStackName": {"Fn::GetAtt" : [ "{{$.Network.Name}}" , "Outputs.StackName" ]}
          {{range $index, $etcdInstance := $.EtcdNodes -}}
          ,
          "{{$etcdInstance.LogicalName}}FQDN": {"Fn::GetAtt" : [ "{{$.Etcd.Name}}" , "Outputs.{{$etcdInstance.LogicalName}}FQDN" ]}
          {{- end}}
          {{if .CloudWatchLogging.Enabled}},
          "CloudWatchLogGroupARN": { "Fn::GetAtt": [ "CloudWatchLogGroup", "Arn" ] }
          {{- end }}
        },
        "Tags" : [
          {
            "Key": "kubernetes.io/cluster/{{$.ClusterName}}",
            "Value": "owned"
          }{{range $k, $v := $.ControlPlane.Tags}},
          {
            "Key":"{{$k}}",
            "Value":"{{$v}}"
          }{{end}}
        ],
        "TemplateURL" : "{{$.ControlPlane.TemplateURL}}"
      }
    },
    "{{.Etcd.Name}}": {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "Parameters": {
          "NetworkStackName": {"Fn::GetAtt" : [ "{{$.Network.Name}}" , "Outputs.StackName" ]}
          {{if .CloudWatchLogging.Enabled}}
          ,
          "CloudWatchLogGroupARN": { "Fn::GetAtt": [ "CloudWatchLogGroup", "Arn" ] }
          {{ end }}
        },
        "Tags" : [
          {
            "Key": "kubernetes.io/cluster/{{$.ClusterName}}",
            "Value": "true"
          }{{range $k, $v := $.ControlPlane.Tags}},
          {
            "Key":"{{$k}}",
            "Value":"{{$v}}"
          }{{end}}
        ],
        "TemplateURL" : "{{$.Etcd.TemplateURL}}"
      }
    }
    {{range $i, $p := .NodePools}},
    "{{$p.Name}}": {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "Parameters": {
          "EtcdStackName": {"Fn::GetAtt" : [ "{{$.Etcd.Name}}" , "Outputs.StackName" ]},
          "NetworkStackName": {"Fn::GetAtt" : [ "{{$.Network.Name}}" , "Outputs.StackName" ]}
          {{if .CloudWatchLogging.Enabled}}
          ,
          "CloudWatchLogGroupARN": { "Fn::GetAtt": [ "CloudWatchLogGroup", "Arn" ] }
          {{ end }}
        },
        "Tags" : [
          {
            "Key": "kubernetes.io/cluster/{{$.ClusterName}}",
            "Value": "owned"
          }{{range $k, $v := $p.Tags}},
          {
            "Key":"{{$k}}",
            "Value":"{{$v}}"
          }{{end}}
        ],
        "TemplateURL" : "{{$p.TemplateURL}}"
      },
      "DependsOn": [
        "{{$.ControlPlane.Name}}"
        {{ if eq $p.NodePoolRollingStrategy "Sequential" -}}
          {{ if $i -}}
          ,"{{ (index $.NodePools (sub $i 1)).Name}}"
          {{ end -}}
        {{ end -}}
        {{ if eq $p.NodePoolRollingStrategy "AvailabilityZone" -}}
          {{- if ne ($.NodePoolAvailabilityZoneDependencies $p $.Subnets) "" }}
          ,{{ $.NodePoolAvailabilityZoneDependencies $p $.Subnets }}
          {{- end }}
        {{ end -}}
      ]
    }{{end}}
    {{range $n, $r := .ExtraCfnResources}}
    ,
    {{quote $n}}: {{toJSON $r}}
    {{end}}
  },
  "Outputs": {
    "KubeAwsVersion": {
      "Description": "The version number of kube-aws which was used to create this cluster",
      "Value": "{{$.KubeAwsVersion}}",
      "Export": { "Name": { "Fn::Sub": "${AWS::StackName}-KubeAwsVersion" } }
    },
    {{ if $.ControlPlane.NeedToExportIAMroles }}
    "ControllerIAMRoleArn": {
      "Description": "The IAM Role ARN for controller nodes",
      "Value": {"Fn::GetAtt" : [ "{{$.ControlPlane.Name}}" , "Outputs.ControllerIAMRoleArn" ]},
      "Export": { "Name": { "Fn::Sub": "${AWS::StackName}-ControllerIAMRoleArn" } }
    },
    {{end}}
    "ControlPlaneStackName": {
      "Description": "The name of the control plane stack",
      "Value": {"Fn::GetAtt" : [ "{{$.ControlPlane.Name}}" , "Outputs.StackName" ]}
    }{{range $_, $p := .NodePools}},
    {{ if $p.NeedToExportIAMroles }}
    "NodePool{{ $p.Name }}WorkerIAMRoleArn": {
      "Description": "The IAM Role ARN for workers in the {{$p.Name}} node pool stack",
      "Value": {"Fn::GetAtt" : [ "{{$p.Name}}", "Outputs.WorkerIAMRoleArn" ]},
      "Export": { "Name": { "Fn::Sub": "${AWS::StackName}-NodePool{{$p.Name}}WorkerIAMRoleArn" } }
    },
    {{end}}
    "NodePool{{ $p.Name }}StackName": {
      "Description": "The name of the {{$p.Name}} node pool stack",
      "Value": {"Fn::GetAtt" : [ "{{$p.Name}}", "Outputs.StackName" ]},
      "Export": { "Name": { "Fn::Sub": "${AWS::StackName}-NodePool{{$p.Name}}StackName" } }
    }
    {{end}}
  }
}
